In [22]:
import pandas as pd

In [67]:
df_customer = pd.read_csv("../data/train/df_Customers.csv")
df_customer.head()

    customer_id  customer_zip_code_prefix       customer_city customer_state
0  hCT0x9JiGXBQ                     58125     varzea paulista             SP
1  PxA7fv9spyhx                      3112  armacao dos buzios             RJ
2  g3nXeJkGI0Qw                      4119             jandira             SP
3  EOEsCQ6QlpIg                     18212          uberlandia             MG
4  mVz5LO2Vd6cL                     88868            ilhabela             SP

In [68]:
df_customer.shape

(89316, 4)

In [69]:
df_customer.isnull().sum()

customer_id                 0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [70]:
df_order_iteam = pd.read_csv("../data/train/df_OrderItems.csv")
df_order_iteam.head()

       order_id    product_id     seller_id   price  shipping_charges
0  Axfy13Hk4PIk  90K0C1fIyQUf  ZWM05J9LcBSF  223.51             84.65
1  v6px92oS8cLG  qejhpMGGVcsl  IjlpYfhUbRQs  170.80             23.79
2  Ulpf9skrhjfm  qUS5d2pEAyxJ  77p2EYxcM9MD   64.40             17.38
3  bwJVWupf2keN  639iGvMyv0De  jWzS0ayv9TGf  264.50             30.72
4  Dd0QnrMk9Cj5  1lycYGcsic2F  l1pYW6GBnPMr  779.90             30.66

In [71]:
df_order_iteam.shape

(89316, 5)

In [72]:
df_order_iteam.isnull().sum()

order_id            0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

In [73]:
df_orders = pd.read_csv("../data/train/df_Orders.csv")
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18

In [74]:
df_order_iteam.isnull().sum()

order_id            0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

In [75]:
df_payments = pd.read_csv("../data/train/df_Payments.csv")
df_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,Axfy13Hk4PIk,1,credit_card,1,259.14
1,v6px92oS8cLG,1,credit_card,8,382.39
2,Ulpf9skrhjfm,1,credit_card,4,249.25
3,bwJVWupf2keN,1,credit_card,2,27.79
4,Dd0QnrMk9Cj5,1,credit_card,1,76.15

In [76]:
df_products = pd.read_csv("../data/train/df_Products.csv")
df_products.head()

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
1,qejhpMGGVcsl,watches_gifts,440.0,18.0,14.0,17.0
2,qUS5d2pEAyxJ,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,639iGvMyv0De,toys,1450.0,68.0,3.0,48.0
4,1lycYGcsic2F,toys,300.0,17.0,4.0,12.0

In [77]:
df_products = df_products.drop_duplicates() #-->drop duplicates in product

In [78]:
df_master = df_orders.merge(df_customer, on="customer_id", how="left")
df_master = df_master.merge(df_order_iteam, on="order_id", how="left")
df_master = df_master.merge(df_payments, on="order_id", how="left")
df_master = df_master.merge(df_products, on="product_id", how="left")
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  object
 4   order_approved_at              89307 non-null  object
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
 7   customer_zip_code_prefix       89316 non-null  int64
 8   customer_city                  89316 non-null  object
 9   customer_state                 89316 non-null  object
 10  product_id                     89316 non-null  object
 11  seller_id                      89316 non-null  object
 12  price                          89316 non-null  float64
 13  shipping_charges               89316 non-null  float64
 14  payment_sequential             89316 non-null  int64
 15  payment_type                   89316 non-null  object
 16  payment_installments           89316 non-null  int64
 17  payment_value                  89316 non-null  float64
 18  product_category_name          89008 non-null  object
 19  product_weight_g               89301 non-null  float64
 20  product_length_cm              89301 non-null  float64
 21  product_height_cm              89301 non-null  float64
 22  product_width_cm               89301 non-null  float64
dtypes: float64(7), int64(3), object(13)
memory usage: 15.7+ MB

In [79]:
df_master.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,customer_zip_code_prefix,customer_city,customer_state,...,shipping_charges,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,58125,varzea paulista,SP,...,84.65,1,credit_card,1,259.14,toys,491.0,19.0,12.0,16.0
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,3112,armacao dos buzios,RJ,...,23.79,1,credit_card,8,382.39,watches_gifts,440.0,18.0,14.0,17.0
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,4119,jandira,SP,...,17.38,1,credit_card,4,249.25,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,18212,uberlandia,MG,...,30.72,1,credit_card,2,27.79,toys,1450.0,68.0,3.0,48.0
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,88868,ilhabela,SP,...,30.66,1,credit_card,1,76.15,toys,300.0,17.0,4.0,12.0

In [80]:
df_master.shape

(89316, 23)

In [81]:
df_master["order_purchase_timestamp"]= pd.to_datetime(df_master["order_purchase_timestamp"])

In [82]:
df_master["order_approved_at"]= pd.to_datetime(df_master["order_approved_at"])

In [83]:
df_master.to_csv("../data/train/df_master.csv", index=False)

In [84]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  datetime64[ns]
 4   order_approved_at              89307 non-null  datetime64[ns]
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
 7   customer_zip_code_prefix       89316 non-null  int64
 8   customer_city                  89316 non-null  object
 9   customer_state                 89316 non-null  object
 10  product_id                     89316 non-null  object
 11  seller_id                      89316 non-null  object
 12  price                          89316 non-null  float64
 13  shipping_charges               89316 non-null  float64
 14  payment_sequential             89316 non-null  int64
 15  payment_type                   89316 non-null  object
 16  payment_installments           89316 non-null  int64
 17  payment_value                  89316 non-null  float64
 18  product_category_name          89008 non-null  object
 19  product_weight_g               89301 non-null  float64
 20  product_length_cm              89301 non-null  float64
 21  product_height_cm              89301 non-null  float64
 22  product_width_cm               89301 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(3), object(11)
memory usage: 15.7+ MB