In [106]:
import pandas as pd

In [107]:
df_customer = pd.read_csv("../data/test/df_Customers.csv")
df_customer.head()

    customer_id  customer_zip_code_prefix        customer_city customer_state
0  I74lXDOfoqsp                      6020              goiania             GO
1  47TuLHF2s7X5                     23020               viamao             RS
2  dQ0dqI8Qwlj8                     75094             campinas             SP
3  iQCmWhNkIczb                     89284  santana de parnaiba             SP
4  Dp2g6JH8tO5Z                     39810             aripuana             MT

In [108]:
df_customer.shape

(38279, 4)

In [109]:
df_customer.isnull().sum()

customer_id                 0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [110]:
df_order_iteam = pd.read_csv("../data/test/df_OrderItems.csv")
df_order_iteam.head()

       order_id    product_id     seller_id    price  shipping_charges
0  u6rPMRAYIGig  1slxdgbgWFax  3jwvL6ihC45G    24.10             20.90
1  ohY8f4FEbX19  77PgsiElQLeB  GlLj704QXlDB    42.89             12.28
2  I28liQek73i2  QVlD26X1y7NI  V3iKL8r9W9NR    50.21             67.11
3  bBG1T89mlY8W  yWlFGkKYfrpa  RNBdBKsXebna    89.10             62.05
4  CYxJJSQS8Lbo  h6MCbrwh5kiC  5Ja2lH0N2OZt  2139.99              9.41

In [111]:
df_order_iteam.shape

(38279, 5)

In [112]:
df_order_iteam.isnull().sum()

order_id            0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

In [113]:
df_orders = pd.read_csv("../data/test/df_Orders.csv")
df_orders.head()

       order_id   customer_id order_purchase_timestamp    order_approved_at
0  u6rPMRAYIGig  I74lXDOfoqsp      2017-11-18 12:29:57  2017-11-18 12:46:08
1  ohY8f4FEbX19  47TuLHF2s7X5      2018-06-02 17:13:12  2018-06-02 20:12:23
2  I28liQek73i2  dQ0dqI8Qwlj8      2018-01-08 11:01:30  2018-01-09 07:24:03
3  bBG1T89mlY8W  iQCmWhNkIczb      2017-03-10 10:24:46  2017-03-10 10:24:46
4  CYxJJSQS8Lbo  Dp2g6JH8tO5Z      2017-12-02 10:04:07  2017-12-05 04:13:30

In [114]:
df_order_iteam.isnull().sum()

order_id            0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

In [115]:
df_payments = pd.read_csv("../data/test/df_Payments.csv")
df_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,u6rPMRAYIGig,1,credit_card,2,155.77
1,ohY8f4FEbX19,1,credit_card,1,4.07
2,I28liQek73i2,1,wallet,1,381.59
3,bBG1T89mlY8W,1,credit_card,3,14.76
4,CYxJJSQS8Lbo,1,wallet,1,284.09

In [116]:
df_products = pd.read_csv("../data/test/df_Products.csv")
df_products.head()

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1slxdgbgWFax,toys,50.0,16.0,5.0,11.0
1,77PgsiElQLeB,electronics,200.0,21.0,7.0,14.0
2,QVlD26X1y7NI,furniture_decor,1000.0,100.0,5.0,20.0
3,yWlFGkKYfrpa,toys,8950.0,40.0,30.0,40.0
4,h6MCbrwh5kiC,toys,2301.0,32.0,35.0,34.0

In [117]:
df_products = df_products.drop_duplicates() #-->drop duplicates in product

In [118]:
df_master = df_orders.merge(df_customer, on="customer_id", how="left")
df_master = df_master.merge(df_order_iteam, on="order_id", how="left")
df_master = df_master.merge(df_payments, on="order_id", how="left")
df_master = df_master.merge(df_products, on="product_id", how="left")
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  38279 non-null  object
 1   customer_id               38279 non-null  object
 2   order_purchase_timestamp  38279 non-null  object
 3   order_approved_at         38272 non-null  object
 4   customer_zip_code_prefix  38279 non-null  int64
 5   customer_city             38279 non-null  object
 6   customer_state            38279 non-null  object
 7   product_id                38279 non-null  object
 8   seller_id                 38279 non-null  object
 9   price                     38279 non-null  float64
 10  shipping_charges          38279 non-null  float64
 11  payment_sequential        38279 non-null  int64
 12  payment_type              38279 non-null  object
 13  payment_installments      38279 non-null  int64
 14  payment_value             38279 non-null  float64
 15  product_category_name     38111 non-null  object
 16  product_weight_g          38269 non-null  float64
 17  product_length_cm         38269 non-null  float64
 18  product_height_cm         38269 non-null  float64
 19  product_width_cm          38269 non-null  float64
dtypes: float64(7), int64(3), object(10)
memory usage: 5.8+ MB

In [119]:
df_master.head()

,order_id,customer_id,order_purchase_timestamp,order_approved_at,customer_zip_code_prefix,customer_city,customer_state,product_id,seller_id,price,shipping_charges,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,u6rPMRAYIGig,I74lXDOfoqsp,2017-11-18 12:29:57,2017-11-18 12:46:08,6020,goiania,GO,1slxdgbgWFax,3jwvL6ihC45G,24.10,20.90,1,credit_card,2,155.77,toys,50.0,16.0,5.0,11.0
1,ohY8f4FEbX19,47TuLHF2s7X5,2018-06-02 17:13:12,2018-06-02 20:12:23,23020,viamao,RS,77PgsiElQLeB,GlLj704QXlDB,42.89,12.28,1,credit_card,1,4.07,electronics,200.0,21.0,7.0,14.0
2,I28liQek73i2,dQ0dqI8Qwlj8,2018-01-08 11:01:30,2018-01-09 07:24:03,75094,campinas,SP,QVlD26X1y7NI,V3iKL8r9W9NR,50.21,67.11,1,wallet,1,381.59,furniture_decor,1000.0,100.0,5.0,20.0
3,bBG1T89mlY8W,iQCmWhNkIczb,2017-03-10 10:24:46,2017-03-10 10:24:46,89284,santana de parnaiba,SP,yWlFGkKYfrpa,RNBdBKsXebna,89.10,62.05,1,credit_card,3,14.76,toys,8950.0,40.0,30.0,40.0
4,CYxJJSQS8Lbo,Dp2g6JH8tO5Z,2017-12-02 10:04:07,2017-12-05 04:13:30,39810,aripuana,MT,h6MCbrwh5kiC,5Ja2lH0N2OZt,2139.99,9.41,1,wallet,1,284.09,toys,2301.0,32.0,35.0,34.0

In [120]:
df_master.shape

(38279, 20)

In [121]:
df_master["order_purchase_timestamp"]= pd.to_datetime(df_master["order_purchase_timestamp"])

In [122]:
df_master["order_approved_at"]= pd.to_datetime(df_master["order_approved_at"])

In [125]:
#df_master["order_delivered_timestamp"]= pd.to_datetime(df_master["order_delivered_timestamp"])

In [127]:
#df_master["order_estimated_delivery_date"]= pd.to_datetime(df_master["order_estimated_delivery_date"])

In [128]:
df_master.to_csv("../data/test/df_master.csv", index=False)

In [129]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  38279 non-null  object
 1   customer_id               38279 non-null  object
 2   order_purchase_timestamp  38279 non-null  datetime64[ns]
 3   order_approved_at         38272 non-null  datetime64[ns]
 4   customer_zip_code_prefix  38279 non-null  int64
 5   customer_city             38279 non-null  object
 6   customer_state            38279 non-null  object
 7   product_id                38279 non-null  object
 8   seller_id                 38279 non-null  object
 9   price                     38279 non-null  float64
 10  shipping_charges          38279 non-null  float64
 11  payment_sequential        38279 non-null  int64
 12  payment_type              38279 non-null  object
 13  payment_installments      38279 non-null  int64
 14  payment_value             38279 non-null  float64
 15  product_category_name     38111 non-null  object
 16  product_weight_g          38269 non-null  float64
 17  product_length_cm         38269 non-null  float64
 18  product_height_cm         38269 non-null  float64
 19  product_width_cm          38269 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(3), object(8)
memory usage: 5.8+ MB