In [106]:
import pandas as pd

In [107]:
df_customer = pd.read_csv("../data/test/df_Customers.csv")
df_customer.head()

    customer_id  customer_zip_code_prefix        customer_city customer_state
0  I74lXDOfoqsp                      6020              goiania             GO
1  47TuLHF2s7X5                     23020               viamao             RS
2  dQ0dqI8Qwlj8                     75094             campinas             SP
3  iQCmWhNkIczb                     89284  santana de parnaiba             SP
4  Dp2g6JH8tO5Z                     39810             aripuana             MT

In [108]:
df_customer.shape

(38279, 4)

In [109]:
df_customer.isnull().sum()

customer_id                 0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [110]:
df_order_iteam = pd.read_csv("../data/test/df_OrderItems.csv")
df_order_iteam.head()

       order_id    product_id     seller_id    price  shipping_charges
0  u6rPMRAYIGig  1slxdgbgWFax  3jwvL6ihC45G    24.10             20.90
1  ohY8f4FEbX19  77PgsiElQLeB  GlLj704QXlDB    42.89             12.28
2  I28liQek73i2  QVlD26X1y7NI  V3iKL8r9W9NR    50.21             67.11
3  bBG1T89mlY8W  yWlFGkKYfrpa  RNBdBKsXebna    89.10             62.05
4  CYxJJSQS8Lbo  h6MCbrwh5kiC  5Ja2lH0N2OZt  2139.99              9.41

In [111]:
df_order_iteam.shape

(38279, 5)

In [112]:
df_order_iteam.isnull().sum()

order_id            0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

In [113]:
df_orders = pd.read_csv("../data/test/df_Orders.csv")
df_orders.head()

       order_id   customer_id order_purchase_timestamp    order_approved_at
0  u6rPMRAYIGig  I74lXDOfoqsp      2017-11-18 12:29:57  2017-11-18 12:46:08
1  ohY8f4FEbX19  47TuLHF2s7X5      2018-06-02 17:13:12  2018-06-02 20:12:23
2  I28liQek73i2  dQ0dqI8Qwlj8      2018-01-08 11:01:30  2018-01-09 07:24:03
3  bBG1T89mlY8W  iQCmWhNkIczb      2017-03-10 10:24:46  2017-03-10 10:24:46
4  CYxJJSQS8Lbo  Dp2g6JH8tO5Z      2017-12-02 10:04:07  2017-12-05 04:13:30

In [114]:
df_order_iteam.isnull().sum()

order_id            0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

In [115]:
df_payments = pd.read_csv("../data/test/df_Payments.csv")
df_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,u6rPMRAYIGig,1,credit_card,2,155.77
1,ohY8f4FEbX19,1,credit_card,1,4.07
2,I28liQek73i2,1,wallet,1,381.59
3,bBG1T89mlY8W,1,credit_card,3,14.76
4,CYxJJSQS8Lbo,1,wallet,1,284.09

In [116]:
df_products = pd.read_csv("../data/test/df_Products.csv")
df_products.head()

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1slxdgbgWFax,toys,50.0,16.0,5.0,11.0
1,77PgsiElQLeB,electronics,200.0,21.0,7.0,14.0
2,QVlD26X1y7NI,furniture_decor,1000.0,100.0,5.0,20.0
3,yWlFGkKYfrpa,toys,8950.0,40.0,30.0,40.0
4,h6MCbrwh5kiC,toys,2301.0,32.0,35.0,34.0

In [117]:
df_products = df_products.drop_duplicates() #-->drop duplicates in product

In [118]:
df_master = df_orders.merge(df_customer, on="customer_id", how="left")
df_master = df_master.merge(df_order_iteam, on="order_id", how="left")
df_master = df_master.merge(df_payments, on="order_id", how="left")
df_master = df_master.merge(df_products, on="product_id", how="left")
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  38279 non-null  object
 1   customer_id               38279 non-null  object
 2   order_purchase_timestamp  38279 non-null  object
 3   order_approved_at         38272 non-null  object
 4   customer_zip_code_prefix  38279 non-null  int64
 5   customer_city             38279 non-null  object
 6   customer_state            38279 non-null  object
 7   product_id                38279 non-null  object
 8   seller_id                 38279 non-null  object
 9   price                     38279 non-null  float64
 10  shipping_charges          38279 non-null  float64
 11  payment_sequential        38279 non-null  int64
 12  payment_type              38279 non-null  object
 13  payment_installments      38279 non-null  int64
 14  payment_value             38279 non-null  float64
 15  product_category_name     38111 non-null  object
 16  product_weight_g          38269 non-null  float64
 17  product_length_cm         38269 non-null  float64
 18  product_height_cm         38269 non-null  float64
 19  product_width_cm          38269 non-null  float64
dtypes: float64(7), int64(3), object(10)
memory usage: 5.8+ MB

In [119]:
df_master.head()

,order_id,customer_id,order_purchase_timestamp,order_approved_at,customer_zip_code_prefix,customer_city,customer_state,product_id,seller_id,price,shipping_charges,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,u6rPMRAYIGig,I74lXDOfoqsp,2017-11-18 12:29:57,2017-11-18 12:46:08,6020,goiania,GO,1slxdgbgWFax,3jwvL6ihC45G,24.10,20.90,1,credit_card,2,155.77,toys,50.0,16.0,5.0,11.0
1,ohY8f4FEbX19,47TuLHF2s7X5,2018-06-02 17:13:12,2018-06-02 20:12:23,23020,viamao,RS,77PgsiElQLeB,GlLj704QXlDB,42.89,12.28,1,credit_card,1,4.07,electronics,200.0,21.0,7.0,14.0
2,I28liQek73i2,dQ0dqI8Qwlj8,2018-01-08 11:01:30,2018-01-09 07:24:03,75094,campinas,SP,QVlD26X1y7NI,V3iKL8r9W9NR,50.21,67.11,1,wallet,1,381.59,furniture_decor,1000.0,100.0,5.0,20.0
3,bBG1T89mlY8W,iQCmWhNkIczb,2017-03-10 10:24:46,2017-03-10 10:24:46,89284,santana de parnaiba,SP,yWlFGkKYfrpa,RNBdBKsXebna,89.10,62.05,1,credit_card,3,14.76,toys,8950.0,40.0,30.0,40.0
4,CYxJJSQS8Lbo,Dp2g6JH8tO5Z,2017-12-02 10:04:07,2017-12-05 04:13:30,39810,aripuana,MT,h6MCbrwh5kiC,5Ja2lH0N2OZt,2139.99,9.41,1,wallet,1,284.09,toys,2301.0,32.0,35.0,34.0

In [120]:
df_master.shape

(38279, 20)

In [121]:
df_master["order_purchase_timestamp"]= pd.to_datetime(df_master["order_purchase_timestamp"])

In [122]:
df_master["order_approved_at"]= pd.to_datetime(df_master["order_approved_at"])

In [125]:
#df_master["order_delivered_timestamp"]= pd.to_datetime(df_master["order_delivered_timestamp"])

In [127]:
#df_master["order_estimated_delivery_date"]= pd.to_datetime(df_master["order_estimated_delivery_date"])

In [128]:
df_master.to_csv("../data/test/df_master.csv", index=False)

In [129]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  38279 non-null  object
 1   customer_id               38279 non-null  object
 2   order_purchase_timestamp  38279 non-null  datetime64[ns]
 3   order_approved_at         38272 non-null  datetime64[ns]
 4   customer_zip_code_prefix  38279 non-null  int64
 5   customer_city             38279 non-null  object
 6   customer_state            38279 non-null  object
 7   product_id                38279 non-null  object
 8   seller_id                 38279 non-null  object
 9   price                     38279 non-null  float64
 10  shipping_charges          38279 non-null  float64
 11  payment_sequential        38279 non-null  int64
 12  payment_type              38279 non-null  object
 13  payment_installments      38279 non-null  int64
 14  payment_value             38279 non-null  float64
 15  product_category_name     38111 non-null  object
 16  product_weight_g          38269 non-null  float64
 17  product_length_cm         38269 non-null  float64
 18  product_height_cm         38269 non-null  float64
 19  product_width_cm          38269 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(3), object(8)
memory usage: 5.8+ MB

In [1]:
import pandas as pd
df_train = pd.read_csv("../data/train/df_master.csv")
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  object
 4   order_approved_at              89307 non-null  object
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
 7   customer_zip_code_prefix       89316 non-null  int64
 8   customer_city                  89316 non-null  object
 9   customer_state                 89316 non-null  object
 10  product_id                     89316 non-null  object
 11  seller_id                      89316 non-null  object
 12  price                          89316 non-null  float64
 13  shipping_charges               89316 non-null  float64
 14  payment_sequential             89316 non-null  int64
 15  payment_type                   89316 non-null  object
 16  payment_installments           89316 non-null  int64
 17  payment_value                  89316 non-null  float64
 18  product_category_name          89008 non-null  object
 19  product_weight_g               89301 non-null  float64
 20  product_length_cm              89301 non-null  float64
 21  product_height_cm              89301 non-null  float64
 22  product_width_cm               89301 non-null  float64
dtypes: float64(7), int64(3), object(13)
memory usage: 15.7+ MB

In [2]:
df_train.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,customer_zip_code_prefix,customer_city,customer_state,...,shipping_charges,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,58125,varzea paulista,SP,...,84.65,1,credit_card,1,259.14,toys,491.0,19.0,12.0,16.0
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,3112,armacao dos buzios,RJ,...,23.79,1,credit_card,8,382.39,watches_gifts,440.0,18.0,14.0,17.0
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,4119,jandira,SP,...,17.38,1,credit_card,4,249.25,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,18212,uberlandia,MG,...,30.72,1,credit_card,2,27.79,toys,1450.0,68.0,3.0,48.0
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,88868,ilhabela,SP,...,30.66,1,credit_card,1,76.15,toys,300.0,17.0,4.0,12.0

In [3]:
df_train.shape

(89316, 23)

In [4]:
df_head = df_train.iloc[:80000]
df_head.shape

(80000, 23)

In [5]:
df_head.to_csv("../data/train/df_master.csv", index=False)

In [4]:
df_tail = df_train.iloc[80000:]
df_tail.shape

(9316, 23)

In [5]:
df_tail.to_csv("../data/train/df_pubsub.csv", index=False)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/train/df_pubsub.csv")
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,customer_zip_code_prefix,customer_city,customer_state,...,shipping_charges,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,QbUMJvzyDlCp,KtlcfpvYNFq5,delivered,2017-08-07 22:57:44,2017-08-07 23:43:27,2017-08-10 15:57:30,2017-08-18,71805,suzano,SP,...,32.34,1,credit_card,4,139.68,computers_accessories,217.0,16.0,14.0,14.0
1,fGGjSsmHvsLn,VJ52UVGCwZmc,delivered,2018-08-09 11:38:37,2018-08-09 11:50:16,2018-08-13 15:51:57,2018-08-28,11081,rio de janeiro,RJ,...,30.13,1,debit_card,1,132.90,toys,133.0,17.0,9.0,14.0
2,ZRItgti4GSb7,QnjJTKfi1OvP,delivered,2018-07-24 16:11:14,2018-07-26 03:25:07,2018-08-02 19:03:00,2018-08-20,28035,cachoeirinha,RS,...,57.56,1,wallet,1,203.82,toys,283.0,51.0,4.0,32.0
3,QugfN5GO1bfD,D3gqMKOkFcEC,delivered,2018-06-13 18:05:40,2018-06-14 02:39:25,2018-06-27 13:11:22,2018-07-17,78560,lauro de freitas,BA,...,15.93,1,wallet,1,901.06,toys,150.0,20.0,20.0,20.0
4,vBw3GyzjUuLK,OGOMIE0ghaMb,shipped,2017-03-23 23:44:58,2017-03-24 23:50:18,NaN,2017-04-13,44360,sao paulo,SP,...,2.46,1,voucher,1,151.98,toys,150.0,16.0,9.0,11.0

In [3]:
import time as time

In [8]:
json_obj = {}
for i, row in enumerate(df.itertuples(index = False)):
    
    if i < 1:
        json_obj["order_id"] = row[0]
        json_obj["customer_id"] = row[1]
        json_obj["order_status"] = row[2]
        json_obj["order_purchase_timestamp"] = row[3]
        json_obj["order_approved_at"] = row[4]
        json_obj["order_delivered_timestamp"] = row[5]
        json_obj["order_estimated_delivery_date"] = row[6]
        json_obj["customer_zip_code_prefix"] = row[7]
        json_obj["customer_city"] = row[8]
        json_obj["customer_state"] = row[9]
        json_obj["product_id"] = row[10]
        json_obj["seller_id"] = row[11]
        json_obj["price"] = row[12]
        json_obj["shipping_charges"] = row[13]
        json_obj["payment_sequential"] = row[14]
        json_obj["payment_type"] = row[15]
        json_obj["payment_installments"] = row[16]
        json_obj["payment_value"] = row[17]
        json_obj["product_category_name"] = row[18]
        json_obj["product_weight_g"] = row[19]
        json_obj["product_length_cm"] = row[20]
        json_obj["product_height_cm"] = row[21]
        json_obj["product_width_cm"] = row[22]
        print(json_obj)
        removed_row = df[df['order_id'] == row[0]]
        remaining_df = df[df['order_id'] != row[0]]

        remaining_df.reset_index(drop=True, inplace=True)
        remaining_df.to_csv("../data/train/df_pubsub_1.csv", index=False)
        
    else:
        break

{'order_id': 'QbUMJvzyDlCp', 'customer_id': 'KtlcfpvYNFq5', 'order_status': 'delivered', 'order_purchase_timestamp': '2017-08-07 22:57:44', 'order_approved_at': '2017-08-07 23:43:27', 'order_delivered_timestamp': '2017-08-10 15:57:30', 'order_estimated_delivery_date': '2017-08-18', 'customer_zip_code_prefix': 71805, 'customer_city': 'suzano', 'customer_state': 'SP', 'product_id': 'y5FI0l0HjdGT', 'seller_id': 'qI9UblMbsm1o', 'price': 126.69, 'shipping_charges': 32.34, 'payment_sequential': 1, 'payment_type': 'credit_card', 'payment_installments': 4, 'payment_value': 139.68, 'product_category_name': 'computers_accessories', 'product_weight_g': 217.0, 'product_length_cm': 16.0, 'product_height_cm': 14.0, 'product_width_cm': 14.0}

In [6]:
df.shape

(9316, 23)

In [9]:
df_1 = pd.read_csv("../data/train/df_pubsub_1.csv")
df_1.shape

(9315, 23)